/converter @takirala @kaiwalyajoshi
/repo/meta @takirala @kaiwalyajoshi
/repo/packages/C/confluent-*/ @zmalik 
/repo/packages/D/data-science-engine/ @akirillov 
/repo/packages/D/dcos-core-cli/ @janisz @makkes @drewvanstone @br-lewis
/repo/packages/D/dcos-enterprise-cli/ @janisz @makkes @drewvanstone @br-lewis
/repo/packages/J/jenkins @kaiwalyajoshi @takirala
/repo/packages/K/kafka-zookeeper/ @zmalik 
/repo/packages/N/nifi/ @alexeygorobets 
/repo/packages/S/spark/ @akirillov  
/repo/packages/S/spark-history/ @akirillov 
