/converter @takirala @kaiwalyajoshi
/repo/meta @takirala @kaiwalyajoshi
/repo/packages/C/cassandra/ @kaiwalyajoshi
/repo/packages/C/confluent-*/ @kaiwalyajoshi
/repo/packages/D/datastax-*/ @kaiwalyajoshi
/repo/packages/D/data-science-engine/ @akirillov
/repo/packages/D/dcos-core-cli/ @janisz @pierrebeitz @DominikDary
/repo/packages/D/dcos-enterprise-cli/ @janisz @pierrebeitz @DominikDary
/repo/packages/E/elastic/ @kaiwalyajoshi
/repo/packages/E/edgelb/ @jkoelker @wavesoft
/repo/packages/E/edgelb-pool/ @jkoelker @wavesoft
/repo/packages/H/hdfs/ @kaiwalyajoshi
/repo/packages/H/hello-world/ @kaiwalyajoshi
/repo/packages/H/hive-metastore/ @kaiwalyajoshi
/repo/packages/J/jenkins @kaiwalyajoshi @jeschkies
/repo/packages/K/kafka*/ @zmalik @kaiwalyajoshi
/repo/packages/K/kibana/ @alexeygorobets @kaiwalyajoshi
/repo/packages/M/marathon/ @timcharper @jeschkies
/repo/packages/N/nifi/ @alexeygorobets @kaiwalyajoshi
/repo/packages/P/portworx-*/ @kaiwalyajoshi
/repo/packages/S/spark/ @alexeygorobets
/repo/packages/S/spark-history/ @alexeygorobets
